@font-face {
	font-family: AUGUSTS;
	src: local(AUGUSTUS), url(../style/fonts/AUGUSTUS.ttf);
    font-weight: 600;
}
select{
    position: relative;
    left: 10%;
    margin-top: 48.3%;
    width: 1%;
    height: 5.3%;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    transform: rotate(-180deg);
    z-index: 5;
}
select:hover{
    background-color: #ca314a; 
}
option{
    top: 50%;
    position: relative;
    left: 50%;
    font-size: 25px;
    background-color: #ca314a;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #57324c;
}
.partyhud{
    position: absolute;
    width: 6%;
    height: 99.5%;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
    left: 0.5%;
    top: 0.9%;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
.partyhud h2{
    color: black;
    text-align: center;
    font-family: 'AUGUSTUS';
}
.partyhud p1{
    position: absolute;
    top: 8%;
    left: 25%;
    color: black;
    font-size: 18px;
    line-height: 150px;
    font-family: 'Times New Roman', Times, serif;
}
.pmicon{
    position: absolute;
    top: 6%;
    left: 13%;
    width: 70%;
    height: 8%;
    background-color: #ca314a;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}
.pmicon2{
    position: absolute;
    top: 21.5%;
    left: 13%;
    width: 70%;
    height: 8%;
    background-color: #ca314a;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}
.minimap{
    position: absolute;
    width: 222px;
    height: 222px;
    top: 1.2%;
    left: 83%;
    background-color: #ca314a;
    border: #f9bc00;
    border-style: solid;
    border-width: 3px;
    border-radius: 1px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
.registryhud{
    position: absolute;
    width: 60%;
    height: 20%;
    top: 71%;
    left: 20%;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 3px;
    border-radius: 1px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
        .commandbox input{
            position: absolute;
            width: 98%;
            height: 18%;
            top: 80%;
            left: 1%;
            background-color: #85001e;
            border: #f9bc00;
            border-style: solid;
            border-width: 2px;
            border-radius: 1px;
        }
.footerhud{
    position: absolute;
    width: 87.5%;
    height: 7%;
    top: 93.4%;
    left: 7%;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
        .actionicon{
            position: absolute;
            top: 11%;
            left: 0.5%;
            width: 50px;
            height: 50px;
            background-color: #492c53;
            border: #f9bc00;
            border-style: solid;
            border-width: 1px;
            border-radius: 1px;
        }
        .interacticon{
            position: absolute;
            top: 11%;
            left: 5%;
            width: 50px;
            height: 50px;
            background-color: #492c53;
            border: #f9bc00;
            border-style: solid;
            border-width: 1px;
            border-radius: 1px;  
        }
        .basicattackicon{
            position: absolute;
            top: 11%;
            left: 9.5%;
            width: 50px;
            height: 50px;
            background-color: #492c53;
            border: #f9bc00;
            border-style: solid;
            border-width: 1px;
            border-radius: 1px;  
        }
.interfacehud{
    position: absolute;
    width: 4%;
    height: 99.5%;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
    left: 96.2%;
    top: 0.8%;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
.worldmapicon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    left: 14%;
    top: 1%;
}
.partyicon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    left: 14%;
    top: 7%;
}
.inventoryicon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    left: 14%;
    top: 13%;
}
.inventoryicon:hover{
    background-color: #ca314a;
}
.questsicon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    left: 14%;
    top: 19%;
}
.board{
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #492c53;
    border: #f9bc00;
    border-style: solid;
    border-width: 3px;
    border-radius: 1px;
    left: 33%;
    top: 3%;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}
.rollbutton button{
    position: absolute; 
    left: 91.3%;
    top: 94.8%;
    width: 45px;
    height: 45px;
    transform: rotate(45deg);
    color: black;
    z-index: 5; 
    border: #f9bc00;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
    background-color: #85001e;
}
.rollbutton button:hover{
    background-color: #f9bc00;
}
